CLOUDFLARE_DNS_API_TOKEN=aszdfasdfkl;aqsdjf;lkhjasd
ILO_PASSWORD=asdfasdf
ILO_USERNAME=Administrator
DOMAINS=esx1ilo.example.com
ILO_IP=192.168.1.250
LE_EMAIL=simon@example.com
ILO_DOMAIN=esx1ilo.example.com